{% extends "header.html" %}

{% block title %}Searching{% endblock title %}

{% block body %}







      <div class="modal fade lug" id="myModal" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Change</h4>
               </div>
               <div class="modal-body">
                  <ul>
                     <li><a href="#"><img src="images/flag-up-1.png" alt="" /> United States</a></li>
                     <li><a href="#"><img src="images/flag-up-2.png" alt="" /> France </a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div id="sidebar" class="top-nav">
         <ul id="sidebar-nav" class="sidebar-nav">
            <li><a href="#">Help</a></li>
            <li><a href="howitworks.html">How it works</a></li>
            <li><a href="#">chamb for Business</a></li>
         </ul>
      </div>
      <div class="page-content-product">
         <div class="main-product">
            <div class="container">
            	
               <div class="row clearfix">
               <div class="container">
               <div class="find-box">
                  
               
               </div>
            </div>
                  <div class="find-box">
                     <h1>Searching - {{searched_product}}</h1>
                     
                  </div>
               </div>
               {% for product in products %}
               <div class="row clearfix">
                  <div class="col-lg-3 col-sm-6 col-md-3">
                     <a href="product/{{product[0][0]}}">
                        <div class="box-img">
                           <h4>{{ product[0][2] }}</h4>
                           <img src="static/img/{{product[0][5]}}" alt="" />
                           
                        </div>
                     </a>
                  </div>
                  {% endfor %}
                  
               </div>
            </div>
         </div>
      </div>
      {% endblock body%}